.Mini-main{
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    color: black;
    justify-content:center;
    
}
.Mini-cat
{
    display: flex;
    align-items: center;
}
.Mini-main div{
    margin-right: 2%;
    cursor: pointer;
}