.fresh-Main {
  width: 80%;
  margin: auto;
  height: auto;
  margin-top: 2%;
  padding: 1%;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.fresh-map {
  display: flex;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.fresh-item {
  border: 1px solid grey;
  background-color: white;
  display: flex;
  padding: 1%;
  border-radius: 5px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25%;
  margin-bottom: 2%;
}
.fresh-header {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 1%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fresh-item
  {
    width: 100%;
  }  
  .fresh-item{
    margin-bottom: 4%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  .fresh-item
  {
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
  }  
  
  .fresh-header{
    margin: auto;
    margin-bottom: 2%;
  }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .fresh-item
  {
    width: 40%;
    margin: auto;
    margin-bottom: 4%;
  }  
  
  .fresh-header{
    margin-bottom: 2%;
  }
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .fresh-item{
    width: 35%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
  .fresh-item{
    width: 25%;
  }
}