.Featured-Main
{
    width: 80%;
    background-color: whitesmoke;
    margin: auto;
    height: auto;
    margin-top: 2%;
    
    padding: 1%;
    border-radius: 10px;
}
.Feature-map
{
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;

    
}
.Featured-item

{
border: 1px solid grey; 
background-color: white;   
display: flex;
padding: 1%;
border-radius: 5px;
flex-direction: column;
width: 20%;
}
.featues-header
{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 1%;
}