.AddPosting-wraper {
  border: 2px solid grey;
  width: 100%;
}
.AddPosting-main {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 5%;
}

.AddPosting-heading {
  padding: 2%;
  border-bottom: 2px solid grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.AddPosting-Cat-Main {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.borderright {
  border-left: 2px solid grey;
}

.AddPosting-Cat-lists {
  width: 50%;
}

.AddPosting-Cat-lists-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  align-items: center;
  padding: 2%;
  height: auto;
  margin: auto;
}

.add-logo {
  display: flex;
  align-items: center;
  width: 100%;
}
.AddPosting-Cat-lists-right {
  width: 50%;
  display: flex;
  flex-direction: row;
}
.AddPosting-Cat-lists-Rightinner {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid grey;
  justify-content: space-between;
  padding: 2%;
}
.AddPosting-main h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.addhover:hover {
  background-color: #06baac;
  cursor: pointer;
}
.active {
  background-color: #06baac;
  cursor: pointer;
}
