.form-login {
  background-color: #06baac;
  display: flex;
  height: auto;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  border-radius: 0px 40px 0px;
  flex-direction: column;
  align-items: center;
  color: white;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
}
.form-signup {
  background-color: #06baac;
  width: 30%;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 3%;
  padding-bottom: 4%;
  border-radius: 0px 40px 0px;

  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);

}
.background {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;

  display: flex;
}
.form-signup input[type="text"],
input[type="password"] {
  width: 330px;
  border: none;
  border-radius: 25px;
  margin-left: 3%;
  font-size: 18px;
  padding: 3%;
  font-size: 14px;
  line-height: 1.42857143;
}
.form-login input[type="text"],
input[type="password"] {
  width: 330px;
  border: none;
  border-radius: 25px;
  margin-left: 3%;
  font-size: 18px;
  padding-left: 3%;
  padding: 3%;
  font-size: 14px;
  line-height: 1.42857143;
}
.form-login h1 {
  margin-top: 0;
}

.select {
  width: 330px;
  border: none;
  border-radius: 25px;
  margin-left: 3%;
  font-size: 18px;
  padding: 3%;
  cursor: pointer;
  padding: 3%;
  background-color: white;
}
.phone {
  display: flex;

  flex-direction: column;
}

.phone-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}
.form-login textarea:focus,
input:focus,
button:focus,
.select {
  outline: none;
}
.login-logo {
  border-radius: 50%;
  padding: 2%;
  background-color: white;
  color: #06baac;
}
.login-cross {
  border-radius: 50%;
  padding: 1.5%;
  background-color: white;
  color: #06baac;
  display: flex;

cursor: pointer;
  padding: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 12px;
}
.login-button {
  display: flex;
  margin-bottom: 4%;
  cursor: pointer;

  color: #001b3a;
}

.login-button button {
  width: 320px;
  border: none;
  border-radius: 25px;
  margin-left: 3%;

  padding-left: 3%;
  cursor: pointer;
  font-weight: 800;
  color: #06baac;
  background-color: white;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .form-login {
    width: 90%;
  }
  .form-login input[type="text"],
  input[type="password"] {
    width: 200px;
  }
  .form-signup {
    width: 85%;
  }
  .select {
    width: 210px;
  }
  .form-signup input[type="text"],
  input[type="password"] {
    width: 200px;
  }
  .login-button button {
    width: 210px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .form-login .form-signup {
    width: 100%;
  }
  .form-login {
    width: 73%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .form-login .form-signup {
    width: 100%;
  }
  .form-login {
    width: 62%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .form-login .form-signup {
    width: 100%;
  }
  .form-login {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .form-login .form-signup {
    width: 100%;
  }
  .form-login {
    width: 32%;
  }
}
